:root {
    --primary-color: #D5BDAF;
    --secondary-color: #D6CCC2;
    --accent1-color: #EDEDE9;
    --accent2-color: #F5EBE0;
}

* {
    margin: 0px;
    flex-shrink: 0;
    font-family: 'Robot', sans-serif;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo-box img {
    margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navigation li {
	flex: 1 1 auto;
}

.history h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.history-p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.history-p img {
    width: 400px;
    height: 400px;
}

.adventure h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.adventureimg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventureimg img {
    width: 300px;
    height: 300px;
}
.hero {
    position: relative;
    display: block; 
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--accent2-color);
    
}

.article {
    display: flex;
    position: absolute;
    /* width: 60%; */
    align-items: center;
    justify-content: center;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    color: var(--accent2-color);
}

.article img {
    width: 100px;
    margin: 0 0 0 5px;
    float: right;
}


h2 {
    color: black;
}

h6 {
    font-size: 1.5rem;
}

article p {
    color: var(--accent1-color);
    font-size: large;
}

p {
    color: black;
}

a {
    text-decoration: none;
}

.knowmore {
    display: flex;
    background-color: gray;
    margin: 20px;
}

.knowmore img {
    float: right;
    width: 300px;
}

.parent-profile {
    display: flex;
    justify-content: space-around;
    background-color: #ccc;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.company-info {
    justify-content: space-between;
}
footer {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}
.sociallink {
    position: absolute;
    left: 90%;
}
.sociallink img {
    width: 20px;
}
.sociallink a {
    text-decoration: none;
    margin-left: auto;
}
.contact-form h2 {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: space-around;
}

.purpose {
    display: flex;
    justify-content: center;
}

textarea {
    width: 100%;
    padding: 20px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

button {
    background-color: gray; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}